.text-box{
	padding: 70px 0 190px;
	color: #000;
}

.text-box a{
	color: #000;
	font-size: 17px;
}

.title{
	padding-bottom: 30px;
	font-size: 36px;
	font-weight: bold;
}

.small-title{
	padding-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
}

.text{
	padding-bottom: 40px;
	line-height: 30px;
	font-size: 17px;
	font-weight: lighter;
}