.product-img{display:block;width:100%;}
.download{display:flex;justify-content:center;}
.download a,.download-list a{display:block;width:100%;color:#000;}
.download-box-1{display:flex;padding:120px 100px;align-items:center;flex-direction:column;}
.download-box-1 a{font-size:24px;line-height:48px;}
.download-box-1 span{padding-bottom:40px;}
.font-size-32{font-size:32px;}
.download-box{padding-bottom:4px;}
.download-box>div{display:none;}
.download-list{display:flex;padding:52px 80px 80px;justify-content:space-between;}
.download-box-2{padding:0 20px;text-align:center;}
.download-box-2 a{text-align:left;font-size:20px;line-height:36px;}
.download-box-2 img{margin-bottom:40px;}
.view-details{position:relative;display:block;width:100%;text-align:center;color:#fff;font-size:17px;line-height:80px;background:#343434}
.view-details img{position:absolute;top:40px;right:30px;width:16px;transform:rotate(-90deg);}
.view-details img.up{transform:rotate(90deg);}

@media screen and (max-width: 980px) {
	.download-box-1{padding:120px 50px;}
	.download-box-1 a{font-size:18px;line-height:24px;}
}


