.kontakt-banner{padding:80px 0;}
.kontakt-banner>img{display:block;width:100%;}
.kontakt-big-title{padding-bottom:45px;font-weight:700;font-size:36px;}
.kontakt-sub-title{padding-bottom:20px;font-weight:700;font-size:26px;}
.kontakt-title{padding-bottom:20px;font-size:20px;line-height:32px;}
.kontakt-friends-link{overflow:hidden;padding-bottom: 100px;}
.kontakt-friends-link>a{margin-right:25px;float: left;}
.kontakt-box{display:flex;margin-bottom:80px;justify-content:space-between;}
.kontakt>.kontakt-title{padding-bottom:40px;}
.kontakt-info>li{display:flex;margin-bottom:18px;height:50px;align-items:center;}
.kontakt-info>li>img{margin-right:25px;}
.kontakt-info>li>span,.kontakt-info>li>span>a{font-size:17px;}

@media screen and (max-width: 980px) {
	.kontakt-info{padding:0 20px;}
}

