.text-box{padding:50px 0 190px;color:#000}
.text-box a{color:#000;font-size:17px}
.title{padding-bottom:30px;font-weight:700;font-size:36px}
.small-title{padding-top:30px;padding-bottom:10px;font-weight:700;font-size:24px}
.small-sub-title{padding-top:20px;padding-bottom:20px;font-weight:700;font-size:18px}
.text{padding-bottom:10px;font-weight:lighter;font-size:17px;line-height:30px}
.sub-text{padding-bottom:10px;padding-left:10px;font-weight:lighter;font-size:15px;line-height:30px}
.border-2{padding:0 10px;border:2px solid}
@media screen and (max-width:980px){.text-box{padding:70px 20px 190px}
.text{line-height:44px}
}
